.mp_sec {
    & + & {
        margin-top: 40px;
    }
    &_tit {
        display: flex;
        align-items: flex-end;
        line-height: 1.4;
        margin-bottom: 12px;
        &.ty2 {
            margin-bottom: 18px;
            // .tit {
            //     font-size: 24px;
            //     @include tablet {
            //         font-size: 20px;
            //     }
            // }
        }
        .tit {
            font-size: 20px;
            
            small {
                font-size: inherit;
                font-weight: normal;
            }
        }
        .btn_more {
            margin-left: auto;
            font-size: 14px;
            color: color(grey1);
            .ico_more_s {
                opacity: 0.6;
            }
        }
    }
    
}
.mp_card {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    @include tablet {
        gap: 12px;
    }
    &_item {
        flex: 1;
        line-height: 1.5;
        @include tablet {
            flex: auto;
            width: calc(100%/2 - 6px);
        }
    }
    &_link {
        display: flex;
        height: 160px;
        padding: 30px;
        box-sizing: border-box;
        text-align: center;
        
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid color(line);
        border-radius: 8px;
        transition: all .1s ease-in-out;

        @include tablet {
            padding: 24px;
            height: 120px;
        }

        .desc, .count_box, .count_box .count {
            transition: color .1s ease-in-out;
        }
        &:hover {
            background-color: color(key3);
            @at-root .mp_card.ty_order & {
                background-color: color(orange);
            }
            color: #fff;
            .desc, .count_box, .count_box .count {
                color: #fff !important;
            }
        }

        .tit {
            font-size: 18px;
            font-weight: bold;
            @include tablet {
                font-size: 14px;
            }
        }
        .desc {
            display: block;
            font-size: 12px;
            color: color(grey2);
        }
        
        .count_box {
           
            gap: 3px;
            font-size: 14px;
            color: color(grey2);
            line-height: 1.2;
            
            .count {
                display: inline-block;
                color: color(key3);
                font-size: 40px;
                font-weight: bold;
                margin-right: 3px;
                @at-root .mp_card.ty_order & {
                    color: color(orange);
                }
                @include tablet {
                    font-size: 28px;
                    line-height: 1;
                }
            }
        }
        
    }
}

.mp_pw {
    padding: 80px 15.5%;
    background-color: color(bg2);
    @include tablet {
        padding: 40px 20px;
        margin: 0 -20px;
    }
    &_top {
        font-size: 22px;
        line-height: 1.5;
        margin-bottom: 40px;
        font-weight: bold;
        text-align: center;
        @include tablet {
            font-size: 16px;
            margin-bottom: 28px;
        }
    }
    &_form {
        max-width: 320px;
        margin: 0 auto;
        .inp-frm {
            height: 48px;
        }
        .f_btn {
            width: 100%;
            margin-top: 12px;
        }
        @include tablet {
            max-width: none;
            .inp-frm {
               height: 40px;
            }
            .f_btn {
                height: 40px;
                font-size: 14px;
                margin-top: 8px;
            }
        }
    }
    &_desc {
        margin-top: 48px;
        padding-top: 28px;
        border-top: 1px solid color(line);
        @include tablet {
            margin-top: 24px;
            padding-top: 24px;
        }
        li {
            position: relative;
            font-size: 14px;
            line-height: 1.4;
            padding-left: 0.8em;
            & + li {
                margin-top: 8px;
            }
            &::before {
                content:'•';
                color: #bebebe;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}