
@import "./vars";
@import "./mypage";





.file_list {
    li {
        & + li {
            margin-top: 8px;
        }
    }
}
.link_file, a.link_file  {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    text-decoration: underline;
    word-break: break-all;
}

.f_btn_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    .f_btn {
        @include tablet {
            flex: 1;
        }
        
    }
}



.btn_link {
    padding: 0 8px;
    height: 28px;
    border: 1px solid color(line_btn);
    background-color: #fff;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    &::after {
        content:'';
        margin-left: 2px;
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        background-image: url(../img/common/ico_btn_arrow.svg);
    }

    @include tablet {
        height: 24px;
        font-size: 14px;
    }
}


.board-search {
    &.ty_deal {
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
        @include tablet { 
            padding-left: 20px;
            padding-right: 20px;
        }
        .search-group {
            flex: 1;
            justify-content: flex-end;
            margin-left: 40px;
            @include tablet { 
                margin-left: 0;
            }
            .inp-search {
                flex: 1;
                width: auto;
            }
        }
        .btn-group {
            @include tablet {
                display: flex;
                width: 100%;
                margin-bottom: 16px;
            }
            .btn-custom {
                height: 40px;
                font-size: 14px;
                &.active {
                    background-color: color(key2);
                    color: #fff;
                    border: none;
                }
            }
        }
    }
}




.list-board-v9 {
    li.answer_box {
        background-color: color(bg);
    }
    .li-link {
        display: flex;
        width: 100%;
        align-items: center;
        text-overflow: inherit;
        white-space: normal;
        &:hover {
            text-decoration: none;
        }
    }
    .th-s {
        padding: 15px;
        box-sizing: border-box;
        background: #f9f9f9;
        font-size: 16px;
        font-weight: 700;
        color: #333;
        text-align: center;
    }
    .td-s {
        padding: 15px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 400;
        color: #333;
        text-align: center;
        word-break: normal;
        flex-shrink: 0;
	    order: 3;
    }
    .td {
        flex-shrink: 0;
        order: 3;
    }
    .t-no {
        width: 8%;
        &.ty_notice {
            color: color(key3)
        }
    }
    .t-chk {
        width: 8%;
    }
    .t-type {
        width: 20%;
    }
    .t-type2 {
        width: 15%;
    }
    .t-type3 {
        width: 10%;
    }
    .t-status {
        width: 10%;
    }
    .t-status2 {
        width: 15%;
    }
    .th.t-tit {
        text-align: center;
    }
    .t-tit {
        flex: 1;
        min-width: 0;
        justify-content: flex-start;
        text-align: left;
        color: #000;
        &.mb0 {
            margin-bottom: 0;
        }
        i {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            margin-left: 10px;
        }
    }
    .t-file {
        width: 7%;
    }
    .t-writer {
        width: 12%;
        min-width: 50px;
    }
    .t-date {
        width: 12%;
    }
    .t-view {
        width: 10%;
    }
    .t-public {
        width: 10%;
    }
    .t-answer {
        width: 10%;
    }
    .t-price {
        width: 10%;
        word-break: break-all;
    }
    
    .t-reserve-no {
        width: 15%;
    }
    .t-reserve-date {
        width: 20%;
    }
    
    .t-count {
        width: 15%;
    }
}


.list-board-tbl {
    display: table;
    width: 100%;
    table-layout: fixed;
    line-height: 1.4;
    font-size: 16px;
    text-align: center;
    border-top: 1px solid #000;
    @include tablet {
        display: block;
    }
    ._row {
        display: table-row;
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid color(line);
            padding: 24px 0;
            gap: 8px 16px;
        }
        &_body:hover {
            background-color: #f4fdff;
        }
        &_head {
            background-color: color(bg);
            font-weight: bold;
            @include tablet {
                display: none;
            }
        }
        
    }
    ._cell {
        display: table-cell;
        height: 64px;
        padding: 12px;
        box-sizing: border-box;
        vertical-align: middle;
        width: auto;
        word-break: break-all;
        border-bottom: 1px solid color(line);
        
        @for $i from 1 to 20 {
            &_w_#{$i} {
                width: #{$i}+'%'
            }
        }
        a:hover {
            color: color(key3);
            font-weight: bold;
            text-decoration: underline;
        }
        .m-tit {
            display: none;
            align-items: center;
            
            &::after {
                content: '';
                width: 1px;
                height: 12px;
                margin: 0 8px;
                background: #bebebe;
            }
        }
        .d_flex {
            display: flex;
            width: 100%;
        }

        @include tablet {
            display: inline-flex;
            border-bottom: none;
            height: auto;
            padding: 0;
            &.only_pc {
                display: none;
            }
            &._m_w100 {
                width: 100%;
                
            }
            &._m_small {
                font-size: 14px;
                margin-top: 4px;
            }
            .m-tit {

                display: flex;
            }
            &.m_right {
                margin-left: auto;
            }
            .f_btn {
                height: auto;
                background-color: transparent;
                border: none;
                color: color(grey1);
                font-size: 14px;
                padding: 0;
                align-self: flex-start;
                &::after {
                    content: '';
                    width: 20px;
                    height: 20px;
                    background-image: url(../img/ico_more_s.svg);
                    background-repeat: no-repeat;
                    //background-size: cover;
                    background-position: center center;
                }
                
                &:hover {
                    background-color: transparent;
                }
            }
            
            @for $i from 1 through 5 {
                &.m_od#{$i}{
                    order: $i;
                }
            }
        }
        
    }
    .td {
        color: color(grey2);
        &.t-tit {
            text-align: left;
            color: #000;
        }
    }
}


/* view */ 
.btn-group-bottom {
    &.top_gap {
        margin-top: 60px;
        @include tablet {
            margin-top: 40px;
        }
    }
}


.tab-menu-v3 {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid color(line);
    border-top: 1px solid color(line);
    margin-bottom: 40px;
   
    &.fix_col {
        flex-wrap: nowrap;
        .tab {
            @include tablet {
                width: auto;
            }
        }
    }
    .tab {
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        border-right: 1px solid color(line);
        border-bottom: 1px solid color(line);
        height: 56px;
        font-size: 16px;
        background-color: color(bg);
        box-sizing: border-box;
        line-height: 1.3;

        @include tablet {
            flex: auto;
            width: calc(100%/3);
        }
        &.active  {
            background-color: color(key2);
            color: #fff;   
            font-weight: 500;
            &::after {
                content:'';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                box-sizing: border-box;
                border: 1px solid color(key2);
                z-index: 1;
            }
        }
    }
}


/*FAQ*/
.list-faq-v2 {
	border-top: 1px solid #000;
	box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    li {
        border-bottom: 1px solid color(line);
        box-sizing: border-box;
    }
    .fold {
        cursor: pointer;
        padding: 20px 0;
        display: flex;
        align-items: center;
        padding-right: 20px;

        @include tablet {
            display: block;
            position: relative;
            padding: 24px 0;
            padding-right: 50px;


        }

        .tit {
            //font-weight: 400;
            flex: 1;
            padding: 0 20px;
            @include tablet {  
                padding: 0;
            }
        }
        .faq_type {
            width: 128px;
            flex-shrink: 0;
            text-align: center;
            color: color(grey1);
            @include tablet { 
                width: auto;
                text-align: left;
                margin-bottom: 4px;
            }
        }
        &::after {
            
            content: '';
            width: 12px;
            height: 12px;
            border: 3px solid #000;
            border-top: none;
            border-left: none;
            box-sizing: border-box;
            transform: rotate(45deg);
            margin-top: -2px;
           
            transition: all .2s ease-in-out;
            @include tablet { 
                position: absolute;
                right: 16px;
                top: 50%;
                margin-top: -6px;
                transform: rotate(45deg);
            }
        }
        &.active {
            color: color(key3);
            font-weight: bold;
            .faq_type {
                color: color(key3);
                font-weight: bold;
            }
            &::after {
                transform: rotate(-135deg) ;
                border-color: color(key3);
               
            }
        }
    }
    
    .unfold {
        display: none;
        position: relative;
        padding-left: 128px;
        border-top: 1px solid color(line);
        box-sizing: border-box;
        background: color(bg);
        @include tablet {
            padding-left: 0;

        }
        .txt-group {
            padding: 20px;
            @include tablet { 
                padding: 24px 16px
            }
        }
        .btn_link {
            margin-top: 16px;
        }


        .active {
            display: block;
        }
    }
    
    
}



@include tablet {
    
    .ly-group .ly-r.ly-r-deal-detail {
        padding-top: 0;
    }
    .list-board-v9 {
        li {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            &.answer_box {
                padding-left: 16px;
                padding-right: 16px;
            }
        }
        .li-link {
            display: flex;
            flex-wrap: wrap;
        }
        .td,
        .th {
            width: auto;
        }
        .td-s,
        .th-s {
            width: auto;
            display: inline-flex;
            align-items: center;
            width: auto;
            padding: 0;
            font-size: 13px;
            text-align: left;
        }
    
        .t-no,
        .t-reserve-no,
        .t-writer,
        .t-reserve-date,
        .t-date,
        .t-count {
            margin-right: 15px;
        }
        .t-tit {
            margin-bottom: 12px;
            flex: auto;
            width: 100%;
            max-width: calc(100% - 40px);
            i {
                margin-left: auto;
            }
            &.w100 {
                max-width: 100%;
            }
        }
        .t-status {
            margin-bottom: 4px;
        }
        .t-file {
           
            width: 40px;
            align-self: flex-start;
        }
        .t-type3,
        .t-writer,
        .t-date,
        .t-view {
            min-width: 0;
            font-size: 14px;
            line-height: 1.4;
            margin-right: 16px;
        }
        .t-chk,
        .t-no,
        .t-reserve-no {
            order: 0;
        }
        .t-no {
            &.ty_notice {
                display: block;
            }
        }
        .t-public {
            order: 1;
            margin-right: 15px;
        }
        .t-answer {
            order: 2;
        }
        .t-reserve-date .m-tit {
            flex-shrink: 0;
            align-self: flex-start;
        }
        .td {
            flex-shrink: inherit;
        }
        .td.m-block {
            width: 100%;
        }
        .td.m-mr {
            margin-right: 15px;
        }
        .t-view .m-tit {
            position: relative;
            padding-right: 12px;
            margin-right: 12px;
        }
        .t-view .m-tit::after {
            content: '';
            display: block;
            position: absolute;
            top: 4px;
            right: 0;
            width: 1px;
            height: 12px;
            background: #bebebe;
        }

        @for $i from 1 through 5 {
            .td.m-od#{$i}{
                order: $i;
            }
        }
    } 
    

    
}


.board-top-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
    .board-count {
        flex-shrink: 0;
        margin-bottom: 0;
    }
    .select-custom {
        width: 120px;
        height: 32px;
        padding: 0 12px;
    }
}

.deal {
    &_list {
        display: flex;
        @include flex_gap(4, 20px, 40px);
        padding-top: 24px;
        border-top: 1px solid #000;

        @include mobile {
            @include flex_gap(2, 8px, 16px);
        }
        .deal {
            &_thumb {
                position: relative;
                padding-top: 100%;
                &.ratio_1_1 {
                    padding-top: 100%;
                }
                &.ratio_6_4 {
                    padding-top: 150%;
                }
                
                background-color: color(bg);
                background-image: url(../img/logo_foot.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 70%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    object-fit: cover;
                }
            }
            
            &_desc {
                padding: 20px 8px 16px;
                @include mobile {
                    padding: 12px 8px 8px;
                }
            }
            &_info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 8px;
            }
            &_type {
                padding: 0 8px;
                line-height: 27px;
                padding-top: 1px;
                color: #fff;
                border-radius: 2px;
                font-size: 14px;
                font-weight: bold;
                @include mobile {
                    padding: 0 4px;
                    font-size: 12px;
                    line-height: 23px;

                }
            }
            &_status {
                display: flex;
                align-items: center;
                color: color(grey2);
                font-size: 14px;
                i {
                    width: 12px;
                    height: 12px;
                    background-image: url(../img/ico_clock.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-right: 3px;
                }
                @include mobile {
                    font-size: 12px;
                }
            }
            &_tit {
                font-size: 16px;
                @include text-hidden(2, 24px )
            }
            &_price {
                display: block;
                font-size: 18px;
                font-weight: bold;
                margin-top: 32px;
                @include mobile {
                    margin-top: 20px;
                }
            }
        }
    }

    &_detail {
        display: flex;
        line-height: 1.5;

        @include tablet {
            display: block;
        }

        &_thumb {
            width: 448px;
            //overflow: hidden;
            position: relative;
            &_ctrl {
                display: none;
                position: absolute;
                width: 48px;
                height: 48px;
                background-color: rgba(#000,.2);
                background-repeat: no-repeat;
                background-position: center center;
                top: 50%;
                margin-top: -24px;
                z-index: 10;
                
                border: none;

                &.prev {
                    background-image: url(../img/ico_arrow_w_prev.svg);
                    left: 0;
                }
                &.next {
                    background-image: url(../img/ico_arrow_w_next.svg);
                    right: 0;
                }
                @include tablet {
                    display: block;
                }

            }
            .deal_detail_thumb_page {
                display: none;
                position: absolute;
                padding: 0 10px;
                line-height: 28px;
                height: 28px;
                background-color: rgba(#000,.5);
                left: 50%;
                transform: translateX(-50%);
                bottom: 16px;
                font-size: 14px;
                color: #fff;
                z-index: 10;
                width: auto;
                border-radius: 14px;
                .swiper-pagination-current {
                    font-weight: bold;
                }
                @include tablet {
                    display: block;
                }
            }
            @include tablet {
                width: auto;
                margin-left: -20px;
                margin-right: -20px;
            }
            img {
                width: 100%;
            }
            &_l {
                position: relative;
            }
            &_s {
                margin-top: 16px;
                @include tablet {
                    margin: 16px 20px 0;
                    
                    overflow: hidden;
                    display: none;
                }
                
                .swiper-slide {
                    opacity: 0.5;
                    transition: opacity .2s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.75;
                    }
                    &.swiper-slide-thumb-active {
                        opacity: 1;
                    }
                }
            }
            &_inner {
                overflow: hidden;
                // position: sticky;
                // left: 0;
                // top: 80px;
            }
        }
        &_order {
            flex: 1;
            margin-left: 40px;
            border-top: 1px solid #000;
            @include tablet { 
                margin-left: 0;
                margin-top: 16px;
            }
            &_sec {
                padding: 20px 0;
                border-top: 1px solid color(line);
                &:first-child {
                    border-top: none;
                }
                
                &.deal_detail_tit,
                &.deal_detail_info,
                &.deal_detail_total {
                    padding: 24px 0;
                    @include tablet { 
                        padding: 20px 0;
                    }
                }
                &.deal_detail_total {
                    border-top: 1px solid #000;
                }

            }
        }
        &_dl {
            font-size: 16px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 8px 0;
          
            @include tablet { 
                font-size: 14px;
            }
            dt {
                width: 152px;
                flex-shrink: 0;
                color: color(grey2);
                @include tablet { 
                    width: 104px;
                }
            }
            dd {
                width: calc(100% - 152px);
                @include tablet { 
                    width: calc(100% - 104px);
                }
                &.fz_mid {
                    font-size: 18px;
                    @include tablet { 
                        font-size: 16px;
                    }
                }
                &.fz_big {
                    font-size: 24px;
                    @include tablet { 
                        font-size: 20px;
                    }
                }
                .btn_popup_auction {
                    
                    display: flex;
                    align-items: center;
                    border: none;
                    background-color: transparent;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 5%;
                        bottom: 0;
                        height: 1px;
                        background-color: #000;
                    }
                    line-height: 1.5;
                    i {
                        width: 10px;
                        height: 10px;
                        margin-left: 2px;
                        background-image: url(../img/ico_more_s.svg);
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
            }
        }
        &_tit {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .tit {
                font-size: 24px;
                font-weight: bold;
                @include tablet { 
                    font-size: 18px;
                }
            }
            .btn_bookmark {
                flex-shrink: 0;
                margin-left: 15px;
                display: block;
                width: 32px;
                height: 32px;
                background-image: url(../img/ico_bookmark.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                background-color: transparent;
                border: none;
                // &::after {
                //     position: absolute;
                //     width: 0;
                //     height: 0;
                //     overflow: hidden;
                //     z-index: -1;
                //     content: url(../img/ico_bookmark_on.svg);
                // }
                &.on {
                    background-image: url(../img/ico_bookmark_on.svg);
                }
            }
        }
        &_btns {
            display: flex;
            gap: 8px;
            .btn {
                flex: 1;
            }
        }

        &_tab {
            margin-top: 80px;
            @include tablet {
                margin-top: 60px;
            }
        }
        &_cont {
            img {
                max-width: 100%;
            }
            &_sec {
                margin-top: 40px;
            }
            .sec_tit {
                font-size: 20px;
                line-height: 1.4;
                font-weight: bold;
                margin-bottom: 16px;
            }
        }
    }
    &_amount {
        display: flex;
        &_btn, &_input {
            width: 40px;
            height: 40px;
            border: 1px solid color(line_btn);
            text-align: center;
            background-color: #fff;
            box-sizing: border-box;
            @include tablet {
                width: 36px;
                height: 36px;
                
            }
        }
        &_input {
            margin: 0 -1px;
            font-size: 16px;
            @include tablet {
                font-size: 14px;
            }
        }
        &_btn {
            background-repeat: no-repeat;
            background-position: center center;
            &.minus {
                background-image: url(../img/ico_minus.svg);
            }
            &.plus {
                background-image: url(../img/ico_plus.svg);
            }

        }
    }


}

.list-frm-hz {
    display: flex;
    font-size: 16px;
    line-height: 1.4;
    border-top: 1px solid #000;
    border-bottom: 1px solid color(line2);
    @include tablet {
        font-size: 14px;
        
    }
    .tr {
        flex: 1;
        display: flex;
        flex-direction: column;
        border-left: 1px solid color(line2);
        &:first-child {
            border-left: none;
        }
    }
    .th {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 64px;
        font-weight: 500;
        background-color: color(bg2);
        flex-shrink: 0;
        @include tablet {
            height: 48px;
            padding: 0 4px;
        }
    }
    .td {
        min-height: 64px;
        padding: 14px 10px;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        color: color(grey1);
        border-top: 1px solid color(line2);
        @include tablet {
            min-height: 48px;
            padding: 12px 6px;
        }
    }
}


.list-frm-vc {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.4;
    border-top: 1px solid #000;
    @include tablet {
        font-size: 14px;
    }
    .tr {
        display: flex;
        border-bottom: 1px solid color(line2);
        @for $i from 1 through 5 {
            &.col#{$i}{
                width: calc(100%/$i);
                @include tablet {
                    width: 100%;
                }
            }
        }
        .th, .td {
            display: flex;
            align-items: center;
            padding: 14px 20px 14px;
            min-height: 64px;
            box-sizing: border-box;
            @include tablet { 
                padding: 12px;
                min-height: 48px;
            }
        }
        .th {
            width: 188px;
            font-weight: 500;
            flex-shrink: 0;
            background-color: color(bg);
            &.ty2 {
                width: 112px;
                @include tablet {
                    width: 88px;
                }
            }
            @include tablet {
                width: 88px;
            }
        }
        .td {
            color: color(grey1);
            flex: 1;
        }
    }
}


.btn_more {
    display: inline-flex;
    align-items: center;
    gap: 2px;
}


.ico_more_s {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(../img/ico_more_s_grey.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.layerPopup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(#000,.3);
    z-index: 9999;
    font-size: 16px;
    line-height: 1.5;
    &.on {
        display: block;
    }
    &_inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .btn_close {
        width: 32px;
        height: 32px;
        border: none;
        background: transparent url(../img/ico_close.svg) no-repeat center center; 
        @include tablet {
            width: 24px;
            height: 24px;
            background-size: cover;
        }
    }

    img {
        max-width: 100%;
    }
    &_cont {
        max-height: 100%;
        max-width: 100%;
       
        background-color: #fff;
        box-sizing: border-box;
        &.ty1 {
            width: 640px;
            padding: 34px 40px 60px;
            overflow-y: auto;
            @include tablet {
                padding: 24px 16px 40px;
            }
        }
        &.ty_img {
            width: 640px;
            padding: 12px 16px 16px;
            .layerPopup_tit {
                margin-bottom: 12px;
            }
            .img_box {
                max-height: calc(100vh - 160px);
                overflow-y: auto;
            }
           
        }
    }
    &_tit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        @include tablet {
            margin-bottom: 12px;
        }
        .tit {
            font-size: 20px;
            font-weight: bold;
            @include tablet {
                font-size: 18px;
            }
        }
    }
    &_btns {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        @include tablet {
            margin-top: 26px;
        }
    }
    .paging {
        margin: 0;
    }
}

.f_chk_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px 24px;
}
.f_chk {
    width: 20px;
    height: 20px;
    cursor: pointer;
    //border-color: #ddd;
    //accent-color: darken(#1CB0D4, 4%) ;
    accent-color: color(key2); 
    &_btn {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        user-select: none;
        font-size: 16px;
        @include tablet {
            font-size: 14px;
        }
    }
}
.f_ta {
    width: 100%;
    height: 160px;
    padding: 10px 16px;
    overflow-y: auto;
    border: 1px solid color(line2);
    font-size: 14px;
    box-sizing: border-box;
}


.xScrollArea {
    
    &_inner {
        overflow-x: auto; 
        &::-webkit-scrollbar, &::-webkit-scrollbar-thumb {
            height: 10px;
        }
    }
        
    .f_tbl {
        @include mobile {
            white-space: nowrap;
        }
    }
       
    
    
    &.scroll_start {
        position: relative;
        &:active {
            &::after {
                opacity: 0;
            }
        }
        &.scrolling {
            &::after {
                opacity: 0;
            }
        }
        &::after {
            content:'';
            position: absolute;
            width: 32px;
            height: 32px;
            background-image: url(../img/ico_touch_swipe.svg);
            background-size: cover;
            background-position: center center;
            right: 16px;
            top: 16px;
            @include tablet {
                // width: 24px;
                // height: 24px;
                right: 8px;
                top: 8px;
            }
        }
    }
}

.f_tbl {
    &_wrap {
        border-top: 1px solid #000;   
    }
    &_hz {
        line-height: 1.4;
       
        border-collapse: collapse;
        
        width: 100%;

        caption {
            width: 0;
            height: 0;
            overflow: hidden;
            opacity: 0;
            position: absolute;
        }

        tr:hover {
            background: #f4fdff;
        }
        tr.link {
            cursor: pointer;
        }
        a {
            &:hover {
                color: color(key3);
                font-weight: bold;
                text-decoration: underline;
            }
        }
        &.tl_fix {
            table-layout: fixed;
        }

        &.wb_all {
            th, td {
                word-break: break-all;
            }
        }

        &.ty2 {
            td {
                height: 64px;
                font-size: 16px;  
                color: color(grey1);
                @include tablet {
                    font-size: 14px;
                    height: 48px;
                }
            }
        }
        
        th, td {
            padding: 14px 12px;
            border-bottom: 1px solid color(line);
            //border-top: none;
            border-right: none;
            box-sizing: border-box;
            &:first-child {
                border-left: none;
            }
            @include tablet {
                padding: 12px 10px;
            }
        }
        th {
            height: 64px;
            font-size: 16px;
            background-color: color(bg);
            @include tablet {
                font-size: 14px;
                height: 48px;
            }
        }
        td {
            height: 60px;
            font-size: 14px;  
            color: color(grey1);
            @include tablet {
                //font-size: 13px;
                height: 48px;
            }
        }
    }
}

.list_dot {
    font-size: 16px;
    li {
        position: relative;
        padding-left: 0.7em;
        & + li {
            margin-top: 8px;
            @include tablet {

            }
        }
        &::before {
            content:'•';
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    &.ty2 {
        color: #333;
        font-size: 14px;
        li::before {
            color: #bebebe;
        }
    }
}
.f_tit {
    display: block;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 8px;
    @include tablet {
        font-size: 14px;
    }
}

.f_img_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    @include tablet {
        gap: 8px;
    }
    .col_item {
        width: 124px;
        @include tablet {
            max-width: 100px;
            width: calc(50% - 4px);
            
        }
    }
    .img_box {
        width: 100%;
        padding-top: 75%;
        position: relative;
        overflow: hidden;

        &.ty_zoom {
            cursor: pointer;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: rgba(#000,.3);
                background-image: url(../img/ico_zoom.svg);
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.ck-group-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px 24px;
    line-height: 1;
    user-select: none;
}