

$breakpoint-m: 767px;
$breakpoint-t: 1280px;

$colors: (
    'key': #035C77,
    'key2': #0F80A1,
    'key3': #1CB0D4,
    'key4': #F4FDFF,
    'red': #F01B1B,
    'line': #eaeaea,
    'line_btn': #dfdfdf,
    'bg': #f6f6f6,
    'fc_grey' : #666
);
:root{
    @each $key, $value in $colors {
        --#{$key} : #{$value};
    }
}

@function color($name){
    @if not map-get($colors, $name+''){
        @error "Color `#{$name}` not found in map $colors";
    }
    @return var(--#{unquote($name)});
}




@mixin tablet {
    @media only screen and (max-width: #{$breakpoint-t}) {
        @content;
    }
};
// @mixin mobile {
//     @media only screen and (max-width: #{$breakpoint-m}) {
//         @content;
//     }
// }


._lh {
    line-height: 1.5;
}


.btn_link {
    padding: 0 8px;
    height: 28px;
    border: 1px solid color(line_btn);
    background-color: #fff;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    &::after {
        content:'';
        margin-left: 2px;
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        background-image: url(../img/common/ico_btn_arrow.svg);
    }

    @include tablet {
        height: 24px;
        font-size: 14px;
    }
}



.list-board-v9 {
    .li-link {
        display: flex;
        width: 100%;
        align-items: center;
        text-overflow: inherit;
        white-space: normal;
        &:hover {
            text-decoration: none;
        }
    }
    .th-s {
        padding: 15px;
        box-sizing: border-box;
        background: #f9f9f9;
        font-size: 16px;
        font-weight: 700;
        color: #333;
        text-align: center;
    }
    .td-s {
        padding: 15px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 400;
        color: #333;
        text-align: center;
        word-break: normal;
        flex-shrink: 0;
	    order: 3;
    }
    .td {
        flex-shrink: 0;
        order: 3;
    }
    .t-no {
        width: 8%;
       
    }
    .t-chk {
        width: 8%;
    }
    .t-type {
        width: 20%;
    }
    .t-type2 {
        width: 15%;
    }
    .t-status {
        width: 10%;
    }
    .t-status2 {
        width: 15%;
    }
    .th.t-tit {
        text-align: center;
    }
    .t-tit {
        flex: 1;
        min-width: 0;
        justify-content: flex-start;
    }
    .t-file {
        width: 7%;
    }
    .t-writer {
        width: 12%;
        min-width: 50px;
    }
    .t-date {
        width: 12%;
    }
    .t-view {
        width: 10%;
    }
    .t-public {
        width: 10%;
    }
    .t-answer {
        width: 10%;
    }
    .t-price {
        width: 10%;
        word-break: break-all;
    }
    
    .t-reserve-no {
        width: 15%;
    }
    .t-reserve-date {
        width: 20%;
    }
    
    .t-count {
        width: 15%;
    }
}


.tab-menu-v3 {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid color(line);
    border-top: 1px solid color(line);
    margin-bottom: 40px;
    .tab {
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        border-right: 1px solid color(line);
        border-bottom: 1px solid color(line);
        height: 56px;
        font-size: 16px;
        background-color: color(bg);
        box-sizing: border-box;

        @include tablet {
            flex: auto;
            width: calc(100%/3);
        }
        &.active  {
            background-color: color(key2);
            color: #fff;   
            font-weight: bold;
            &::after {
                content:'';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                box-sizing: border-box;
                border: 1px solid color(key2);
                z-index: 1;
            }
        }
    }
}


/*FAQ*/
.list-faq-v2 {
	border-top: 1px solid #000;
	box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    li {
        border-bottom: 1px solid color(line);
        box-sizing: border-box;
    }
    .fold {
        cursor: pointer;
        padding: 20px 0;
        display: flex;
        align-items: center;
        padding-right: 20px;

        @include tablet {
            display: block;
            position: relative;
            padding: 24px 0;
            padding-right: 50px;


        }

        .tit {
            //font-weight: 400;
            flex: 1;
            padding: 0 20px;
            @include tablet {  
                padding: 0;
            }
        }
        .faq_type {
            width: 128px;
            flex-shrink: 0;
            text-align: center;
            color: color(fc_grey);
            @include tablet { 
                width: auto;
                text-align: left;
                margin-bottom: 4px;
            }
        }
        &::after {
            
            content: '';
            width: 12px;
            height: 12px;
            border: 3px solid #000;
            border-top: none;
            border-left: none;
            box-sizing: border-box;
            transform: rotate(45deg);
            margin-top: -2px;
           
            transition: all .2s ease-in-out;
            @include tablet { 
                position: absolute;
                right: 16px;
                top: 50%;
                margin-top: -6px;
                transform: rotate(45deg);
            }
        }
        &.active {
            color: color(key3);
            font-weight: bold;
            .faq_type {
                color: color(key3);
                font-weight: bold;
            }
            &::after {
                transform: rotate(-135deg) ;
                border-color: color(key3);
               
            }
        }
    }
    
    .unfold {
        display: none;
        position: relative;
        padding-left: 128px;
        border-top: 1px solid color(line);
        box-sizing: border-box;
        background: color(bg);
        @include tablet {
            padding-left: 0;

        }
        .txt-group {
            padding: 20px;
            @include tablet { 
                padding: 24px 16px
            }
        }
        .btn_link {
            margin-top: 16px;
        }


        .active {
            display: block;
        }
    }
    
    
}



@include tablet {
    .list-board-v9 {
        li {
            position: relative;
            display: flex;
            flex-wrap: wrap;
        }
        .li-link {
            display: flex;
            flex-wrap: wrap;
        }
        .td,
        .th {
            width: auto;
        }
        .td-s,
        .th-s {
            width: auto;
            display: inline-flex;
            align-items: center;
            width: auto;
            padding: 0;
            font-size: 13px;
            text-align: left;
        }
    
        .t-no,
        .t-reserve-no,
        .t-writer,
        .t-reserve-date,
        .t-date,
        .t-count {
            margin-right: 15px;
        }
        .t-tit {
            margin-bottom: 12px;
            flex: auto;
            width: 100%;
            max-width: calc(100% - 40px);
        }
        .t-status {
            font-weight: 700;
        }
        .t-file {
           
            width: 40px;
            align-self: flex-start;
        }
        .t-writer,
        .t-date,
        .t-view {
            min-width: 0;
            font-size: 14px;
            line-height: 1.4;
            margin-right: 16px;
        }
        .t-chk,
        .t-no,
        .t-reserve-no {
            order: 0;
        }
        .t-no {
            &.ty_notice {
                display: block;
            }
        }
        .t-public {
            order: 1;
            margin-right: 15px;
        }
        .t-answer {
            order: 2;
        }
        .t-reserve-date .m-tit {
            flex-shrink: 0;
            align-self: flex-start;
        }
        .td {
            flex-shrink: inherit;
        }
        .td.m-block {
            width: 100%;
        }
        .td.m-mr {
            margin-right: 15px;
        }
        .t-view .m-tit {
            position: relative;
            padding-right: 12px;
            margin-right: 12px;
        }
        .t-view .m-tit::after {
            content: '';
            display: block;
            position: absolute;
            top: 4px;
            right: 0;
            width: 1px;
            height: 12px;
            background: #bebebe;
        }
    } 
    

    
}